[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
boto3 = "==1.35.44"
humanfriendly = "==9.1"
requests = "==2.31.0"
iso8601 = "==2.0.0"
sqlalchemy = "==1.4.0"

[dev-packages]
boto3-stubs = {version = "==1.17.10.0", extras = ["sqs"]}
freezegun = "==1.0.0"
assertpy = "==1.1"
pytest = "==7.4.3"
responses = "==0.23.1"
alembic = "==1.12.1"
moto = "==5.0.17"
db = {editable = true, path = "./../../layers/db"}
psycopg2 = "==2.9.10"
pytest-docker = "==2.0.1"
pytest-cov = "==4.1.0"
mypy = "==1.6.0"
types-requests = "==2.31.0"
types-humanfriendly = "*"
ruff = "==0.7.1"
pytest-mock = "*"

[requires]
python_version = "3.11"

[pipenv]
allow_prereleases = false
