[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]

[dev-packages]
pytest = "*"
pytest-cov = "*"
ruff = "==0.7.1"

[requires]
python_version = "3.11"

[pipenv]
allow_prereleases = true
