[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
boto3 = "==1.35.44"
iso8601 = "*"

[dev-packages]
alembic = "*"
black = "*"
boto3-stubs = {extras = ["lambda", "sqs", "secretsmanager"], version = "*"}
db = {editable = true, path = "./../../layers/db"}
flake8 = "==7.1.1"
isort = "==5.13.2"
moto = "==5.0.17"
mypy = "*"
psycopg2 = "==2.9.10"
pytest = "*"
pytest-cov = "*"
pytest-docker = "*"

[requires]
python_version = "3.11"
