[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
boto3 = "==1.35.44"
iso8601 = "*"

[dev-packages]
alembic = "*"
boto3-stubs = {extras = ["lambda", "sqs", "secretsmanager"], version = "*"}
db = {editable = true, path = "./../../layers/db"}
moto = "==5.0.17"
mypy = "*"
psycopg2 = "==2.9.10"
pytest = "*"
pytest-cov = "*"
pytest-docker = "*"
ruff = "==0.7.1"

[requires]
python_version = "3.11"
